
html, body {
    height: 100%;
    margin: 0;
  }
  

  .container {
    display: flex;
    min-height: 100vh; 
    min-width: 100%;
    background: #E0E0E0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .containere {
  
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    --angle: 45deg; 
    background: #2e2e2e;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  
.buttono {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 36px;
  width: 120px;
  border: none;
  background: #5e41de33;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 20px;
  font-size: 17px;
  color: #5D41DE;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.buttono:hover {
  background: #5e41de4d;
}

.buttono:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
 

.card {
    box-sizing: border-box;
    width: 300px;
    height: 250px;
    background: #f1efe7;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .fotografia{
  width: 150px;
  height: 150px;
  }


 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  max-height: 720px;
  padding: 160px;
  border-radius: 40px;
  position: relative;
  background-color: #212121;
  color: #fff;
  border: 1px solid #000000;
}
span{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  margin-top: 10px;
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.form label .inputa {
  background-color: #333;
  color: #fff;
  width: 106%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .inputa + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .inputa:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .inputa:focus + span,
.form label .inputa:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.inputa {
  font-size: medium;
  margin-top: 10px;
  border-radius:15px;
  padding: 15px;
  outline: none;
  background-color: #333;
  border: none;
  color: rgba(245, 245, 245, 0.425);
  
}



.button {
  margin-top: 20px;
  display: flex;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}

.button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

.button:hover::before, button:hover::after {
  transform: scale(0)
}

.button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}
.botao{
  margin-top: 20px;
  display: flex;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.01em;
  margin: 100px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  background-color: rgb(145, 143, 143);
  padding: 20px;
  border-radius: 90px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.582);
  max-width: 600px;
  width: 100%;
}

button {
  margin-top: 10px;
}
li{
  list-style: none;
  
}
h3{
  font-weight: bold;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.692);
}
.inputs{
  background-color: #3333336c;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  outline: none;
  border: #000000;
  margin-top: 10px;
  color: rgb(218, 208, 208);
}

.botao-modal {
  cursor: pointer;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.botao-modal::before {
  margin-left: auto;
}

.botao-modal::after, .botao-modal::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #72f436;
  display: block;
  transition: 0.4s;
}

.botao-modal:hover::after, .botao-modal:hover::before {
  width: 100%;
}

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: 50px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(67, 0, 112);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

.delete {
  padding: 0px 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 .delete, button span {
  transition: 200ms;
 }
 
 .delete .texte {

  transform: translateX(0px);
  color: white;
  font-weight: bold;
 }
 
 .delete .icon {
  position: absolute;
 
  transform: translateX(85px);
  height: 40px;
  width: 40px;
 

  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .delete svg {
  width: 15px;
  fill: #eee;
 }
 
 .delete:hover {
  background: #ff3636;
 }
 
 .delete:hover .texte {
  color: transparent;
 }
 
 .delete:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(-19px);
 }
 
 .delete:focus {
  outline: none;
 }
 
 .delete:active .icon svg {
  transform: scale(0.8);
 }
 .lista{
 display:flex;
flex-direction: initial;
 
 
 }
 .listaa{
  font-family: Arial, Helvetica, sans-serif;
  
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
   background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  padding: 40px;
  border-radius: 20px;
  }.pa{
   
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #e7dddd;
   background-color: #303030;
   padding: 10px;
   border-radius: 3px;
    }
    .titulo{
   
position: absolute;
transform: translate(-50%-50%);
top: 0;
left: 10px;
color: #dfdfdf;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 35px;
      }
    
.button-modal {
 margin-left: 50px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.button-modal:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.button-modal::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button-modal:hover::before {
  width: 250%;
}

.buttono-modal {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #af2c2c;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #af2c2c;
}

.buttono-modal:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ca7070;
  box-shadow: 4px 5px 17px -4px #912626;
}

.buttono-modal::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #af2c2c;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.buttono-modal:hover::before {
  width: 250%;
}
.botoes{
  display: flex;
  margin: 20px;

}


.group {
  margin: 20px;
  position: relative;
 }
 
 .input {
  color: white;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ffffff;
 }
 
 .bar {
  position: relative;
  display: block;
  width: 213px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ffffff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 
 @keyframes inputHighlighter {
  from {
   background: #5264AE;
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}